h1{
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}
body{
    margin: auto;
    background: #232323;
}
#container{
    margin: 20px auto;
    max-width: 390px;
}
.square{
    background: hotpink;
    float: left;
    /*These values are set up in accordance to the size of board*/
    margin: 1.25%;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background .4s;
}

