h1{
    font-size: 50px;
    margin: 15px auto 10px;
}
h2{
    font-size: 40px;
    margin: 10px auto 0;
}
body{
    text-align: center;
    background: #232323;
    font-family: 'Indie Flower', cursive;
    color: white;

}
.hidden{
    display: none;
}
#sideRContainer, #sideLContainer, #container{
    width: 30%;
    margin: 1.66%;
    text-align: center;
    font-size: 30px;
    float: left;
}
.square, .player, .computer{
    background: hotpink;
    float: left;
    /*These values are set up in accordance to the size of board*/
    margin: 1.25%;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background .4s;
}
.player, .computer{
    margin: 13% 35% auto;
    float: none;
}
.noEvent{
    pointer-events: none;
}
#stripe{
    /*margin: 100px auto;*/
    clear: both;
    text-align: center;
}
#stripe button{
    background: none;
    border: none;
    color: white;
    outline: none;
    font-family: inherit;
    font-size: 40px;
    /*font-weight: 700;*/
    height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .2s;
    text-align: center;
}
#stripe button:hover{
    font-size: 42px;
    font-weight: 600;
}
