h1{
    text-align: center;
    font-size: 50px;
}
body{
    /*margin: auto;*/
    background: #232323;
    font-family: 'Indie Flower', cursive;
    color: white;
}
#container{
    margin-left: 35%;
    max-width: 30%;
}
#sideContainer{
    margin: 6% auto 0 65%;
    max-width: 30%;
    text-align: center;
    font-size: 30px;
}
.square, .player{
    background: hotpink;
    float: left;
    /*These values are set up in accordance to the size of board*/
    margin: 1.25%;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background .4s;
}
.player{
    margin: 13% 35% auto;
    float: none;
}
.noEvent{
    pointer-events: none;
}
