body {
    background: #FC354C;
    background: -webkit-linear-gradient(to left, #FC354C, #0ABFBC);
    background: linear-gradient(to left, #FC354C, #0ABFBC);
    transition: all 1s ease;
}

#container {
    margin: 220px auto;
    width: 15%;
}

form label, input {
    display: block;
    margin: 5px auto;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.control-label {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}
