#results{
    width: auto;
    margin: auto;
}
#results th{
    text-align: center;
    padding-bottom: 20px;
    padding-right: 15px;
}
#results tr td{
    text-align: center;
    margin: auto 10px auto 5px;
}
#title{
    margin: 75px;
    text-align: center;
    font-size: 65px;
    font-family: 'Indie Flower', cursive;
}