body {
    font-family: 'Indie Flower', cursive;

    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2BC0E4, #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2BC0E4, #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    margin: 10px auto;
    width: 25%;
    text-align: center;
}

.container th {
    text-align: center;
}

table {
    margin: 5px auto;
}

th {
    font-size: 30px;
}

tbody tr{
    font-size: 20px;
}

#title {
    margin: 30px;
    text-align: center;
    font-size: 65px;
}

