<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'ttt/menu.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div id="container">
        <h1>Choose your superior <i class="fa fa-search"></i></h1>
        <input type="text" placeholder="find your partner">
        <ul id="box">

        </ul>
        <button>Me VS Computer</button>
    </div>
</body>
</html>