<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'ttt/scores.css' %}">
    <title>Scores</title>
</head>
<body>
    <p id="title">Scores</p>
    <table class='table table-hover' id="results">
        <tr>
            <th>Name</th>
            <th>vs Comp</th>
            <th>vs Player</th>
        </tr>
        {% for score in scores %}
            <tr>
                <td>{{ score.player.name }}</td>
                <td>{{ score.vs_comp }}</td>
                <td>{{ score.vs_player }}</td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>